body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

img {
    height: 200px;
    width: 300px;
    align-self: center;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

button.sign-up {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}

/* .content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: #1F2937;
    margin: auto;
}

.modal-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.content-container {
    text-align: center;
}

.content-container .content-imgs {
    display: flex;
    gap: 52px;
    text-align: center;
    justify-content: center;
}

.info img {
    border: 5px solid #3882f6;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.info {
    width: 110px;
    text-align: start;
}

.content-quote {
    padding: 100px;;
}

.quote {
    font-size: 30px;
}

.quoter {
    text-align: end;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.modal-2 {
    padding: 16px;
    border-radius: 15px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.modal-2 .sign-up {
    background-color: #3882f6;
    border-color: white;
}

.modal-2 .header {
    background-color: #3882f6;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 0;
}