body {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}

img {
    height: 200px;
    width: 700px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

button.sign-up {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.modal-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.content-container {
    text-align: center;
}

.content-container .content {
    display: flex;
    gap: 52px;
    text-align: center;
    justify-content: center;
}

.info img {
    border: 5px solid blue;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.info {
    width: 110px;
    text-align: start;
}